.react-grid-item.react-grid-placeholder {
  @apply bg-gray-300 rounded-3xl;
}
.react-resizable-handle {
  @apply hidden;
}

.textarea-container {
  @apply w-full h-full;
}
/* .textarea-container.hovered textarea {
  @apply bg-gray-100 w-full h-full;
} */

.textarea-container.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea-container:hover .text-area-hover {
  background-color: #ccc; /* Replace #ccc with the desired background color */
}

body.dark-theme {
  background-color: #1f1f1f;
  color: #ffffff;
}
